:root {
  /* Colors */
  --color-primary-orange: #FC8A06;
  --color-black: #03081F;
  --color-light-gray: #FAFAFA;
  --color-green: #028643;
  --color-real-black: #000000;

  --color-card-gray: #F5F5F5;

  --color-primary-hover: #0033FF;
  --color-white: #ffffff;
  --color-error-red: #DC143C;
  --color-gray: #757575;

  /* Inputs */
  --color-light-gray: #D3D3D3;

  /* Spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  /* Font sizes*/
  --font-xs: 0.75rem;   /* 12px */
  --font-s: 0.875rem;  /* 14px */
  --font-m: 1rem;      /* 16px */
  --font-l: 1.25rem;   /* 20px */
  --font-xl: 1.5rem;    /* 24px */
  --font-xxl: 3rem;     /* 48px */
}
