<div class="container">
    <div class="banner-section">
        <img class="banner" src="assets/images/home-page-banner.png" alt="home page banner">

        <div class="banner-content">
            <div>Order Restaurant food, takeaway and groceries.</div>
            <div class="heading-white">Feast Your Senses,</div>
            <div class="heading-color">Fast and Fresh</div>
        </div>
    </div>

    <div class="popular-categories-section">
        <app-category-card-component #cardComponentRef/>

        @if (categoryCardComponentInstance()?.cardTemplate(); as templateRef) {
            <app-carousel-section-component sectionTitle="Popular Categories" [items]="popularCategories()" [customItemTemplate]="templateRef"/>
        }
    </div>
</div>
